.lighttopBG {
  background-color: hsl(225, 100%, 98%);
}

.bgGradient {
  background: linear-gradient(to bottom, hsl(225, 100%, 98%) 200px, hsl(0, 0%, 100%));
  min-height: 100vh;
}

.igborder{
  border-radius: 6px !important;
  border-image: linear-gradient(to right, hsl(37, 97%, 70%), hsl(329, 70%, 58%)) 1 round;
  background-origin: border-box !important;
  background-clip: content-box, border-box !important;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
